<div class="col-md-6 col-md-offset-3">
    <h2 class="container">Age Verification </h2>
    <div class="container">

    <form name="form" ng-submit="verification(number)">
        <div class="form-group">
            <input type="number" ng-model="number" class="form-control" placeholder="Age Verification" required>
        </div>

        <div class="form-actions">
            <button type="submit"  class="btn btn-primary">Submit</button>
        </div>
    </form>

        <div class="form-actions">
            <a href="#/" class="btn btn-link">Logout</a>
        </div>
        </div>
</div>